.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  ion-card {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro para el card */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  h3 {
    margin-top: 10px;
    color: #3880ff; /* Color azul para el encabezado */
  }
  